<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="Pair1" value="SALT,BTC,Binance,0.00042,0.0006,0.00074,0.00035" />
    <add key="Pair2" value="ADA,BTC,Binance,0.0000235,0.0000304,0.0000470,0.00002" />
    <add key="Pair3" value="AST,BTC,Binance,0.00004,0.000048,0.00007447,0.000035" />
    <add key="Pair4" value="GNT,BTC,Bitfinex,0.000032,0.000052,0.000052,0.000025" />
    <add key="Pair5" value="MTL,BTC,Binance,0.0005,0.0007,0.000825,0.0004" />
  </appSettings>
</configuration>