<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="RefreshRateInSeconds" value="25" />

    <add key="EnableTA" value="true" />
    <add key="AssessTA" value="true" />

    <add key="Best" value="-  T2 Reached (SELL)"/>
    <add key="Great" value="-  T1 Reached (SELL 50%)"/>
    <add key="Good" value="-  Price &gt; Entry (HODL)"/>
    <add key="Monitor" value="-  Price &lt; Entry (MONITOR)"/>
    <add key="Bad" value="-  Price &lt; Stop (#REKT)"/>

    <add key="TradeSignal1" value="SALT,BTC,Binance,0.00042,0.0006,0.00074,0.00035" />
    <add key="TradeSignal2" value="ADA,BTC,Binance,0.0000235,0.0000304,0.0000470,0.00002" />
    <add key="TradeSignal3" value="AST,BTC,Binance,0.00004,0.000048,0.00007447,0.000035" />
    <add key="TradeSignal4" value="GNT,BTC,Bitfinex,0.000032,0.000052,0.000052,0.000025" />
    <add key="TradeSignal5" value="MTL,BTC,Binance,0.0005,0.0007,0.000825,0.0004" />

    <add key="EnableForks" value="false" />
      
    <add key="Fork1" value="BTC,1" />
    <add key="Fork2" value="BCH,1" />
    <add key="Fork3" value="BCHC,1" />
    <add key="Fork4" value="BTG,1" />
    <add key="Fork5" value="BCD,10" />
    <add key="Fork6" value="UBTC,1" />
    <add key="Fork7" value="BTH,100" />
    <add key="Fork8" value="SBTC,1" />
    <add key="Fork9" value="BCX,10000" />
    <add key="Fork10" value="OBTC,1" />
    <add key="Fork11" value="ABTC,100" />
    <add key="Fork12" value="BTW,10000" />
    <add key="Fork13" value="LBTC,1" />
    <add key="Fork14" value="BTCS,100" />
    <add key="Fork15" value="BITE,4" />
    <add key="Fork16" value="BTT,1" />
    <add key="Fork17" value="GOD,1" />
    <add key="Fork18" value="BIFI,1" />
    <add key="Fork19" value="BCP,1" />
    <add key="Fork20" value="QBTC,1" />
    <add key="Fork21" value="B2X,1" />
    <add key="Fork22" value="BUM,1" />
    <add key="Fork23" value="UBTC,1" />
    <add key="Fork24" value="BPA,1" />
    <add key="Fork25" value="BTA,1" />
    <add key="Fork26" value="BCO,1" />
    <add key="Fork27" value="BTR,10" />
    <add key="Fork28" value="BCS,100" />
    <add key="Fork29" value="BCI,1" />
    <add key="Fork30" value="BTCL,1" />
    <add key="Fork31" value="BCA,1" />
    <add key="Fork32" value="BTCP,1" />
    <add key="Fork33" value="CBTC,10000" />
    <add key="Fork34" value="BCL,1" />
    <add key="Fork35" value="CLAM,1" />
    <add key="Fork36" value="XLM,1" />
    <add key="Fork37" value="GBYTE,1" />
    <add key="Fork38" value="BTX,1" />
    <add key="Fork39" value="SEM,1" />
    <add key="Fork40" value="VNS,1" />
  </appSettings>
</configuration>